body {
    background-color: rgb(241, 240, 250);
    font-size: 12px;
    display: flex;
}
body .contenedor {
    width: 80%;
}
body .contenedor article {
    display: flex;
}
body .contenedor article aside {
    width: 15%;
}
body .contenedor article aside .ContenedorDerecha {
    background-color: #ffffff;
    border-radius: 5%;
    box-shadow: 1px 1px 3px rgb(138, 138, 138);
}
body .contenedor article aside .ContenedorDerecha .eventosDerecha ul, 
body .contenedor article aside .ContenedorDerecha .DeportesDerecha ul, 
body nav #BarraNavLateral ul {
    list-style: none;
    list-style-position: inside;
    padding: 0px;
}
body .contenedor article aside .ContenedorDerecha .eventosDerecha ul li a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}
body .contenedor article aside .ContenedorDerecha .DeportesDerecha ul li a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}
body .contenedor article section {
    width: 70%;
}

body .contenedor article section .partido {
    background-color: #ffffff;
    width: 90%;
    height: 120px;
    margin: 10px;
    box-shadow: 0px 0px 8px rgb(138, 138, 138);
    position: relative;
    top: -70px;
}

body .contenedor article section .partido .ContenedorImagenDeporte, 
body .contenedor article section .partido .InfoPartidos {
    display: inline-block;
}
body .contenedor article section .partido .ContenedorImagenDeporte  {
    width: 20%;
}
body .contenedor article section .partido .ContenedorImagenDeporte img  {
    width: 100%;
    height: 120px;


}
body .contenedor article section .partido .InfoPartidos {
    position: absolute;
    top: 5px;
    margin: 0px 0px 0px 3px;
}

body .contenedor article section .partido .InfoPartidos h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0px;
}
body .contenedor article section .partido .InfoPartidos p {
    margin: 0px;
}
body .contenedor article section .partido .InfoPartidos p img {
    width: 20px;
    height: 20px;
}
body .contenedor article section .partido .JugadoresJugar {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
body .contenedor article section .partido .JugadoresJugar button{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(3, 191, 248);
    border-radius: 35%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(3, 191, 248);
    margin: 5px;
}
body .contenedor article section .partido .JugadoresJugar button:hover {
    background-color: rgb(3, 191, 248);
    color: rgb(255, 255, 255);  
}

body .contenedor h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-indent: 10px;
    background-color: rgb(116, 227, 255);
    color: #ffffff;
    padding: 30px 0px 70px 0px;
    display: block;
}

body nav {
    background-color: rgb(0, 0, 83);
    display:  inline-block;
    width: 20%;
    
}

body nav #BarraNavLateral ul li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(172, 236, 255);
    display: block;
    padding: 5px;
}
body nav #BarraNavLateral ul li a:hover {
    background-color: rgb(0, 150, 195);
}
body nav #BarraNavLateral ul li a img{
    width: 20px;
    height: 20px;
    
}
body nav h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
}
body nav #Usuario {
    text-align: center;
}
body nav #Usuario img {
    margin: 0px 20px 0px 20px;
    width: 80%;
    height: 100%;
    justify-content: center;
}
body nav #Usuario #NombreUsuario {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

